
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    background-color: #3c3e44;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin:  15px;
    border-radius: 10px;

}

.img-container img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}
.description-container{
    height: 150px;
    padding: 15px 20px;
}

.description-container h6{
    margin-top: 5px;
    color: rgb(158, 158, 158);
}

@media screen and (max-width:375px) {

    .img-container img{
        height: 300px;
        max-width: 100%;
    }
}
@media screen and (min-width:375px) {

    .main-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    }
    .img-container{
        display: grid;

    }
    .img-container img{
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        max-width: 100%;
        max-height: 100%;
        display: block
        
    }
    .main{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 23rem), 1fr));
        justify-content: center;
    }
    .description-container{
        padding: 0px 5px ;
    }
    .center{
        display: grid;
    }
}